<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Hello this is my first Task.</p>
    <p>This shall demonstrate what we learnt in the previous sessions.</p>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>